/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2019, 8:49:44 PM
    Author     : apere
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0; 
}

html,body {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: radial-gradient(goldenrod, black);
  color: #aaa
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

h1 { 
  font-size: 3.5em;
}

h2 {
  color: #aaa;
  font-size: 2em;
}

.page-title {
  color: azure;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
  animation-direction: alternate;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: blue;
  font-size: 4em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
  transition-duration: 0s;
}

.card.visible .card-front {
  transform: rotateY(0); 
}

.card.matched .card-front .card-value {
 animation: dance 1s linear infinite 800ms;
}

.card-back {
  background-color: black;
  border-color: black;
  transform: rotateY(0); 
}

.card-face:hover .cob-web {
  width: 52px;
  height: 52px;
}

.back-side {
  align: center;
  transition: transform 200ms ease-in-out;
  transform: translateY(-10px);
}

.card-back:hover .back-side {
  transform: translateY(0);
}

.card-value {
  position: relative;
  transition: transform 200ms ease-in-out;
  transform: scale(.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color: white;
  border-color: black;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: yellowgreen;
  font-family: sans-serif, serif;
  transition: background-color 200ms, font-size 200ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  align: center;
  display: flex;
  animation: overlay-grow 200ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
